{% extends "base.html" %}
{% block title %}
WMSS-Summarizer
{% endblock title %}

{% block content %}
<div class="row"> </div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <h2>Input Berita</h2>
        <form role="form" action="summarized" method="POST">
            {% csrf_token %}
            <h4>Judul Berita</h4>
            {{form_input_berita.judul_berita}}
            <h4>Konten Berita</h4>
            {{form_input_berita.konten_berita}}
            <h4>Rasio</h4>
            <input type="text" name="rasio"></input>
            <button type="submit" class="btn btn-primary" name="button_simpan">Go</button><br>
        </form>
    </div>
</div>
{% comment %}
<div>
    <h3>Hasil Ringkasan dengan Rasio {{hasil.rasio}}%</h3>
    runtime : {{hasil.waktu}}<br> ------------------------------------------------------------------------
    <h4>Summary</h4>
    {% for kalimat in hasil.summary %} {{kalimat}} {% endfor %}
    <br> ------------------------------------------------------------------------- <br>
    <h4>Teks input</h4> <br> {{hasil.berita.konten}}
    <br>------------------------------------------------------------------------- <br>
    <h4>Scores</h4> <br> {% for kalimat, skor in hasil.berita.compiled_scores %} {{kalimat}} <br> dengan skor : {{skor}} <br><br>    {% endfor %}
</div>
</div>
<!--/.row-->
</div>
<!--/.main-->{% endcomment %} 
{% endblock %} 
{% block js %} 
var sidebar = document.getElementById('analysis'); sidebar.setAttribute('class','active'); 
{% endblock %}