<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WMSS - Word Summary</title>
{% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<!--Icons-->
<script src="{% static 'js/lumino.glyphs.js' %}"></script>
<script src="{% static 'js/diff_match_patch_uncompressed.js' %}"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<style>
.container {
  position: relative;
  width: 50%;
  background-color: white;
}



</style>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body style="background-color:white;">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-stats"></span>&nbsp;<span>WM</span>SS</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		
		<ul class="nav menu">				
				
			<li class="list-group-item" style="border:none; color:#30a5ff;"><strong> Crawling</strong></li>
			
			<li class="active"><a href="crawling.html"><svg class="glyph stroked camera"><use xlink:href="#stroked-camera"></use></svg>Web Crawling</a></li>
			<li><a href="crawling.html"><svg class="glyph stroked camera"><use xlink:href="#stroked-camera"></use></svg>Social Media Crawling</a></li>
			<li role="presentation" class="divider"></li>
			<li class="list-group-item" style="border:none; color:#30a5ff;"><strong>Preprocessing</strong></li>
			
			<!-- <li><a href="preprocessing.html"><svg class="glyph stroked hourglass"><use xlink:href="#stroked-hourglass"></use></svg> Stemming</a></li>
			<li><a href="preprocessing.html"><svg class="glyph stroked hourglass"><use xlink:href="#stroked-hourglass"></use></svg> Stocking</a></li> -->
			<li role="presentation" class="divider"></li>
			<li class="parent">
				<a href="#">
					<span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Analysis </span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="#">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> TOTM
						</a>
					</li>
					<li>
						<a class="" href="#">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> SVM
						</a>
					</li>
					<li>
						<a class="" href="#">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Mind Map Generator
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
		</ul>
		
	</div><!--/.sidebar-->
	
	<!-- Mulai Preprocessing -->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-info">
					<h2>Preprocessing</h2>
				</div>
			</div>
			<ul class="nav nav-tabs">
  				<li class="active"><a data-toggle="tab" href="#input">Input Manual</a></li>
  				<li><a data-toggle="tab" href="#import">Import File</a></li>
			</ul>
			<div class="tab-content">
			  
			  <!-- Menu Input Manual -->
			  <div id="input" class="tab-pane fade in active">
			    <div class="container col-md-6">
					<form method ="POST">
						{% csrf_token %}
						<h4>INPUT</h4>
						<br>
						<textarea class="form-control" name="inputtext" rows="6" cols="40">{{input}}</textarea>
						<table>
						<tr>
							<td>
								<h5>Metode Pengecekan Ejaan</h5>
								{{f.method}}
							</td>
							<td style="padding:50px;">
								<h5>Formalisasi</h5>
								{{f2.method1}}
							</td>
							<td><input id="submit" class="btn btn-primary" type="submit" value="OK" name="inputA"></td>
						</tr>
						</table>
					</form>
				</div>
			
				<div class="container col-md-6">
					<h4>Hasil : </h4>
					<br>
					<div id="hasil">
						{% csrf_token %}
						<br>
						<!-- <textarea class="form-control" name="outputtext" rows="6" cols="40"> -->
						<!-- <h4>{{hasil}}</h4> -->
						<!-- </textarea> -->
						
					</div>
				 </div>
			</div> <!--  tab-pane -->
			<!-- <div class="row"> -->
			<!-- Menu Import File -->
			<div id="import" class="tab-pane fade">
			   <div class="container col-md-6">
						<h4>From FILE</h4>
							<form method = "post" enctype="multipart/form-data" action="{% url 'prepros:hasilCSV'%}">
							{%csrf_token%}
								<div class="form-group">
									<em>-upload file-</em><br>
									<input type="file" name="fileInput" accept=".csv,.txt" max-size="10"><!-- {{upload.output}} -->
								</div>
								<!-- <input type="submit" name = "fromDB" value="preprocess"> -->
							
							<table>
									<tr>
										<td>
											<h5><strong>Metode Pengecekan Ejaan</strong></h5>
											<!-- {{f.method}} -->
											<!-- <div class="checkbox">
												<label class="checkbox-inline"><input type="checkbox" value="">Option 1</label> -->
											<div class="radio">
											  <label><input type="radio" name="metode" value="EDR" required=""><strong>Edit Distance + Rule</strong></label>
											</div>
											<div class="radio">
											  <label><input type="radio" name="metode" value="ED"><strong>Edit Distance</strong></label>
											</div>
											<div class="radio">
											  <label><input type="radio" name="metode" value="BG"><strong>Bigram</strong></label>
											</div>
											<!-- </div> -->
										</td>
										<td style="padding:50px;">
											<h5><strong>Formalisasi</strong></h5>
											<!-- {{ f2.method1}} -->
											<div class="checkbox">
											  <label><input type="checkbox" value="FR" name="formalisasi">Formalisasi</label>
											</div>
										</td>
									</tr>
							</table>
							<h4>Hasil</h4>
							<td><input id="submit" class="btn btn-primary" type="submit" value="Download" name=""></td>
							</form>
				</div>
			 </div>
			<!-- </div> -->
		</div>
		</div>
	</div>	<!--/.main-->
	  

	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.blockUI.js' %}"></script>
    <script>
        $(document).ready(function() { 
            $('#submit').click(function() { 
                $.blockUI({ 
                    message: '<h1>Harap Tunggu Proses!</h1>'
                }); 
            }); 
        });
    </script>
	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
		{% if hasil != '' %}
			var diff = new diff_match_patch(); // options may be passed to constructor; see below
			var before = '{{input}}'
			var after = '{{hasil}}'
			var textDiff = diff.diff_main(before, after); // produces diff array 
			diff.diff_cleanupSemantic(textDiff);
			var diffTag = diff.diff_prettyHtml(textDiff);
			document.getElementById('hasil').innerHTML = diffTag;
		{% endif %}
	</script>
</body>

</html>
