{% extends 'base.html' %}
{% block title %}WMSS - Process Mindmap Generator{% endblock %}

{% block css %}
<script>
	window.CSRF_TOKEN = "{{csrf_token}}"
</script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

<style type="text/css">
	.node circle {
	  cursor: pointer;
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}
	.node text {
	  font: 10px sans-serif;
	}
	path.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 1.5px;
	}
	.action-button{
		float: right;
	}
	.action-button button{
		margin-left: 10px;
	}
	table{
		table-layout: fixed;
	}
	th.prediction, td.prediction {
    overflow: hidden;
    width: 300px;
	}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
	<div>
		<ul class="nav nav-tabs">
			{% for i in range %}
					<li {% if i == 0 %} class="active" {% endif %}><a data-toggle="tab" href="#tab{{i}}">Artikel {{i|add:"1"}}</a></li>
				{% endfor %}
		</ul>
		<div class="tab-content">
			{% for i in range %}
				<div id="tab{{i}}" class="tab-pane fade{% if i == 0 %} in active {% endif %}">
					<div id="chart{{i}}"></div>
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
								<div class="panel-heading">
										<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" class="collapsed"><span class="glyphicon glyphicon-pencil">
												</span>Verifikasi</a>
										</h4>
								</div>
								<div id="collapse{{i}}" class="panel-collapse collapse" style="height: 0px;">
									<div class="panel-body">
											<div>
												<table class="table table-striped" id="verification-table-{{i}}">
													<tr>
														<th>Kalimat</th>
														<th class="prediction">Kelas</th>
													</tr>
												</table>
											</div>

											<div class="row col-md-12">
												<div class="action-button pull-right">
													<button onclick="verification(this, {{i}})" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order">Verifikasi</button>
													<button onclick="updateModel(this)" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order">Update Model</button>	
												</div>
											</div>
									</div>
								</div>
						</div>
					</div>
					
				</div>
			{% endfor %}
		</div>
	</div>
</div><!--/.row-->
{% endblock %}

<script>
{% block js %}
	var data = {{prediction|safe}};
	var confirmationData = {{confirmation|safe}};
	var createMindmap = function(root, tag){
		var margin = {
				top: 30,
				right: 10,
				bottom: 10,
				left: 10
			},
			width = 960 - margin.left - margin.right,
			halfWidth = width / 2,
			height = 500 - margin.top - margin.bottom,
			i = 0,
			duration = 500,
			root;

		var getChildren = function(d) {
			var a = [];
			if (d.kiri)
				for (var i = 0; i < d.kiri.length; i++) {
					d.kiri[i].isRight = false;
					d.kiri[i].parent = d;
					a.push(d.kiri[i]);
				}
			if (d.kanan)
				for (var i = 0; i < d.kanan.length; i++) {
					d.kanan[i].isRight = true;
					d.kanan[i].parent = d;
					a.push(d.kanan[i]);
				}
			return a.length ? a : null;
		};

		var tree = d3.layout.tree()
			.size([height, width]);

		var diagonal = d3.svg.diagonal()
			.projection(function(d) {
				return [d.y, d.x];
			});

		var connector = diagonal;

		var calcLeft = function(d) {
			var l = d.y;
			if (!d.isRight) {
				l = d.y - halfWidth;
				l = halfWidth - l;
			}
			return {
				x: d.x,
				y: l
			};
		};

		var vis = d3.select("#"+tag).append("svg")
			.attr("width", '100%')
			.attr("height", height + margin.top + margin.bottom)
			.call(d3.behavior.zoom().on("zoom", function () {
				vis.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
			}))
			.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		setTimeout(function() {
			root.x0 = height / 2;
			root.y0 = width / 2;

			var t1 = d3.layout.tree().size([height, halfWidth]).children(function(d) {
					return d.kiri;
				}),
				t2 = d3.layout.tree().size([height, halfWidth]).children(function(d) {
					return d.kanan;
				});
			t1.nodes(root);
			t2.nodes(root);

			var rebuildChildren = function(node) {
				node.children = getChildren(node);
				if (node.children) node.children.forEach(rebuildChildren);
			}
			rebuildChildren(root);
			root.isRight = false;
			update(root);
		});

		var toArray = function(item, arr, d) {
			arr = arr || [];
			var dr = d || 1;
			var i = 0,
				l = item.children ? item.children.length : 0;
			arr.push(item);
			if (item.position && item.position === 'left') {
				dr = -1;
			}
			item.y = dr * item.y;
			for (; i < l; i++) {
				toArray(item.children[i], arr, dr);
			}
			return arr;
		};

		function update(source) {
			// Compute the new tree layout.
			var nodes = toArray(source);

			// Normalize for fixed-depth.
			nodes.forEach(function(d) {
				if (d.isRight) {
					d.y = d.depth * 180 + halfWidth;
				} else {
					d.y = width - (d.depth * 180 + halfWidth);
				}

			});


			// Update the nodes…
			var node = vis.selectAll("g.node")
				.data(nodes, function(d) {
					return d.id || (d.id = ++i);
				});

			// Enter any new nodes at the parent's previous position.
			var nodeEnter = node.enter().append("g")
				.attr("class", "node")
				.attr("transform", function(d) {
					return "translate(" + source.y0 + "," + source.x0 + ")";
				})
				.on("click", click);

			nodeEnter.append("circle")
				.attr("r", 1e-6)
				.style("fill", function(d) {
					return d._children ? "lightsteelblue" : "#fff";
				});

			nodeEnter.append("svg:image")
					.attr("href",  function(d) { return d.image;})
					.attr("x", function(d) { return -75;})
					.attr("y", function(d) { return -75;})
					.attr("height", 150)
					.attr("width", 150);

			nodeEnter.append("text")
				.attr("dy", function(d) {
					return (d.kanan||d.kiri) ? -8 : 14;
				})
				.attr("text-anchor", "middle")
				.text(function(d) {
					return !(d.kiri&&d.kanan)? d.name:"";
				})
				.style("fill-opacity", 1e-6);

			// Transition nodes to their new position.
			var nodeUpdate = node.transition()
				.duration(duration)
				.attr("transform", function(d) {
					p = calcLeft(d);
					if (d.isRight) {

						return "translate(" + p.y + "," + p.x + ")";
					} else {
						if (p.y != 470) {
							var temp = p.y - 470;
							p.y = 470 - temp;
							return "translate(" + p.y + "," + p.x + ")";
						} else {
							return "translate(" + p.y + "," + p.x + ")";
						}
					}
				});

			nodeUpdate.select("circle")
				.attr("r", 4.5)
				.style("fill", function(d) {
					return d._children ? "lightsteelblue" : "#fff";
				});

			nodeUpdate.select("text")
				.style("fill-opacity", 1);

			// Transition exiting nodes to the parent's new position.
			var nodeExit = node.exit().transition()
				.duration(duration)
				.attr("transform", function(d) {
					p = calcLeft(d.parent || source);
					return "translate(" + p.y + "," + p.x + ")";
				})
				.remove();

			nodeExit.select("circle")
				.attr("r", 1e-6);

			nodeExit.select("text")
				.style("fill-opacity", 1e-6);

			// Update the links...
			var link = vis.selectAll("path.link")
				.data(tree.links(nodes), function(d) {
					return d.target.id;
				});

			// Enter any new links at the parent's previous position.
			link.enter().insert("path", "g")
				.attr("class", "link")
				.attr("d", function(d) {
					var o = {
						x: source.x0,
						y: source.y0
					};
					return connector({
						source: o,
						target: o
					});
				});

			// Transition links to their new position.
			link.transition()
				.duration(duration)
				.attr("d", connector);

			// Transition exiting nodes to the parent's new position.
			link.exit().transition()
				.duration(duration)
				.attr("d", function(d) {
					var o = calcLeft(d.source || source);
					if (d.source.isRight) o.y -= halfWidth - (d.target.y - d.source.y);
					else o.y += halfWidth - (d.target.y - d.source.y);
					return connector({
						source: o,
						target: o
					});
				})
				.remove();

			// Stash the old positions for transition.
			nodes.forEach(function(d) {
				var p = calcLeft(d);
				d.x0 = p.x;
				d.y0 = p.y;
			});

			// Toggle children on click.
			function click(d) {
				if (d.children) {
					d._children = d.children;
					d.children = null;
				} else {
					d.children = d._children;
					d._children = null;
				}
				update(source);
			}
		}
	}
	for (i = 0; i < data.length; i++) {
		createMindmap(data[i], 'chart'+i);

		$('#tab'+i).prepend(
			'<h3 style="text-align: center">'+data[i]['name']+'</h3>'
		)

		var table = $('#verification-table-'+i);
		for(j = 0; j < confirmationData[i].length; j++){
			var tr = $('<tr></tr>');
			var title = $('<td>'+confirmationData[i][j]['kalimat']+'</td>');
			tr.append(title);
			var td = $('<td class="prediction"></td>');
			var div1 = $('<div class="row"></div>');
			var apa = confirmationData[i][j]['prediction']['apa']?'checked':'';
			var dimana = confirmationData[i][j]['prediction']['dimana']?'checked':'';
			var bagaimana = confirmationData[i][j]['prediction']['bagaimana']?'checked':'';
			var kapan = confirmationData[i][j]['prediction']['kapan']?'checked':'';
			var siapa = confirmationData[i][j]['prediction']['siapa']?'checked':'';
			var mengapa = confirmationData[i][j]['prediction']['mengapa']?'checked':'';
			div1.append('<div class="col-md-6"><input onchange="changeValue(this,'+i+','+j+', \'apa\')" type="checkbox" '+apa+'> Apa</div>');
			div1.append('<div class="col-md-6"><input onchange="changeValue(this,'+i+','+j+', \'dimana\')" type="checkbox" '+dimana+'> Dimana</div>');

			var div2 = $('<div class="row"></div>');
			div2.append('<div class="col-md-6"><input onchange="changeValue(this,'+i+','+j+', \'bagaimana\')" type="checkbox" '+bagaimana+'> Bagaimana</div>');
			div2.append('<div class="col-md-6"><input onchange="changeValue(this,'+i+','+j+', \'kapan\')" type="checkbox" '+kapan+'> Kapan</div>');

			var div3 = $('<div class="row"></div>');
			div3.append('<div class="col-md-6"><input onchange="changeValue(this,'+i+','+j+', \'siapa\')" type="checkbox" '+siapa+'> Siapa</div>');
			div3.append('<div class="col-md-6"><input onchange="changeValue(this,'+i+','+j+', \'mengapa\')" type="checkbox" '+mengapa+'> Mengapa</div>');

			td.append(div1);
			td.append(div2);
			td.append(div3);
			tr.append(td);
			table.append(tr);
		}
	}
	function changeValue(e, berita, kalimat, label){
		confirmationData[berita][kalimat]['prediction'][label] = e.checked
	}

	function verification(btn, berita){
		var dataHasil = JSON.stringify(confirmationData[berita]);
		btn.disabled = true;
		$.ajax({
			url: "{% url 'verify_prediction' %}",
			type: "POST",
			data: {
				data: dataHasil,
				csrfmiddlewaretoken: CSRF_TOKEN
			},
			success: function(json){
				alert('Konfirmasi berhasil');
				btn.disabled = true;
			},
			error: function(xhr, errmsg, err){
				alert('Terjadi kesalahan');
				btn.disabled = false;
			}
		});
	}

	function updateModel(btn){
		btn.disabled = true;
		$.ajax({
			url: "{% url 'update_model' %}",
			type: "POST",
			data: {
				csrfmiddlewaretoken: CSRF_TOKEN
			},
			success: function(json){
				alert('Update Model berhasil');
				btn.disabled = true;
			},
			error: function(xhr, errmsg, err){
				btn.disabled = false;
				alert('Terjadi kesalahan');
			}
		})
	}
{% endblock %}
<script>
